# Core Application
BACKEND_PORT=8000
AGENT_SERVICE_PORT=8001
FRONTEND_PORT=8501

# MCP Microservices
KNOWLEDGE_SERVICE_PORT=8002
NEWS_SERVICE_PORT=8003
OPINION_SERVICE_PORT=8004
PROBABILITY_SERVICE_PORT=8005

# 3rd-party Services
REDIS_HOST=redis
REDIS_PORT=6379
